.navbar{
    .nav-items{
        ul{
            li{
                position: relative;
                padding: 0 25px;
                margin-left: 0 !important;

                @media screen and (min-width: 768px) {
                    &:not(:last-child):after{
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        content: "";
                        width: 1px;
                        height: 10px;
                        background-color: #374151;
                    }
                }
            }
        }
    }
}