.navbar{
    .container{
        .nav-items{
            ul{
                li{
                    position: relative;
                    padding: 0 25px;
                    margin-left: 0 !important;

                    @media screen and (min-width: 768px) {
                        &:not(:last-child):after{
                            position: absolute;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            content: "";
                            width: 1px;
                            height: 10px;
                            background-color: #374151;
                        }
                    }
                }
            }
        }
    }
}
.pictureBadge{
    height: 50px;
    width: 50px;
    background-color: #0C4223;
    background-size: cover;
    border-radius: 50%;
    margin-right: 20px;
    text-align: center;
    vertical-align:middle;
    color: white;
    font-size: 33px;
    padding: auto 0;
    font-weight:500;
    // height: 100%;
}